@import './imports/comun';

#nuevoAutor {	/* ventana emergente */
	.ventana {
		max-width: 480px;
		background: $color-gris-clarisimo;
		.cuerpo {
			.aviso {
				text-align: center;
				font-weight: 600;
			}
			.info {
				text-align: center;
				font-size: 90%;
				color: $color-gris;
			}
			.pie {
				text-align: right;
				margin-bottom: 0;
			}
		}
	}
}




