@import './imports/comun';
@import './widgets/selector-imagen';

.imgPrincipal {
	.selector,
	.quitar {
		position: relative;
		float: right;
		margin: -5px 0 0 10px;
		padding: 5px;
		width: 2.29em;
		height: 2.29em;
		.ico {
			position: absolute;
			top: 42%;
			left: 50%;
			@include translate(-50%,-50%);
		}
	}
	> .contenedor {
		position: relative;
		border-radius: $boton-radius;
		overflow: hidden;
		margin: 0.6em 0 0.4em;
		.foto {
			width: 100%;
			background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCAAQABADAREAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAABwD/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIQAxAAAAFlBohlP//EABQQAQAAAAAAAAAAAAAAAAAAACD/2gAIAQEAAQUCH//EABQRAQAAAAAAAAAAAAAAAAAAACD/2gAIAQMBAT8BH//EABQRAQAAAAAAAAAAAAAAAAAAACD/2gAIAQIBAT8BH//EABQQAQAAAAAAAAAAAAAAAAAAACD/2gAIAQEABj8CH//EABQQAQAAAAAAAAAAAAAAAAAAACD/2gAIAQEAAT8hH//aAAwDAQACAAMAAAAQgE//xAAUEQEAAAAAAAAAAAAAAAAAAAAg/9oACAEDAQE/EB//xAAUEQEAAAAAAAAAAAAAAAAAAAAg/9oACAECAQE/EB//xAAUEAEAAAAAAAAAAAAAAAAAAAAg/9oACAEBAAE/EB//2Q==');
		}
		.eliminar {
			display: none;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 30px;
			height: 30px;
			svg {	// Ícono
				font-size: 15px;
				position: absolute;
				top: 50%;
				left: 50%;
				@include translate(-50%, -50%);
			}
			* {
				pointer-events: none;
			}
		}
	}
}
