@import './imports/comun';

h1 .seccion {
  font-weight: 400;
}

#listaArtis {
  padding: 0.6em;
  .cabeza {
    margin: 0 0 0.4em;
    border-bottom: 2px solid $color-gris-claro;
    label {
      font-size: 1.1em;
    }
  }
  .lista {
    margin-bottom: 1.2em;
    .articulo {
      margin: 0;
      padding: 0.4em;
      border-bottom: 1px solid $color-gris-claro;
      .titulo {
        font-size: 1.1em;
      }
      .fecha {

        .hora {
          font-size: 80%;
          color: $color-gris;
        }
      }
      .editar {
        padding: 0.4em 0.8em;
      }
    }
  }
}

#crearArti {
  margin: 1.2em 0 0;
  font-size: 1em;
  .ico svg {
    vertical-align: -.125em;
  }
}

#verTodos {
  display: none;
}

#desde,
#hasta {
  &.control[readonly] {
    background: $control-fondo;
  }
}

.grupo.desde,
.grupo.hasta {
  .control {
    position: relative;
    overflow: auto;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-right: 2.44em;
    width: 100%;
    height: 2.44em;
    &:focus + .boton {
      border-color: $color-uno;
    }
  }
  .boton {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: visible;
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 2.44em;
    width: 2.44em;
    .ico {
      position: absolute;
      top: 42%;
      left: 50%;
      @include translate(-50%,-50%);
    }
  }
}
