@import './imports/comun';

body {
  background: $color-uno;
  #contenidos {
    background: $color-uno;
    box-shadow: none;
    #frmClaves {
      display: block;
      margin: 12% auto 0;
      width: 100%;
      max-width: 400px;
      padding: 36px 36px 26px;
      background: $color-uno-claro;
    }
  }
}
