.grupo {
	margin-bottom: 1.4em;
	.icono {
		color: $color-gris-oscuro;
		@include transition(color 0.3s);
		&.foco {
			color: $color-uno;
		}
		&.error {
			color: $color-dos-claro;
		}
	}
	.control {
		border: none;
		border-bottom: $control-border-width solid $control-border-color;
		border-radius: 0;
		@include transition(border 0.3s);
		&.foco {
			border-color: $color-uno;
		}
		&.error {
			border-color: $color-dos-claro;
		}
	}
	.msjError {
		overflow: visible;
		height: 0;
		width: 100%;
		padding-left: 3em;
		font-size: 0.9em;
		color: $color-dos-claro;
		transform-origin: top;
		@include scaleY( 0 );
		@include transition( transform 0.4s );
		&.visible {
			@include scaleY( 1 );
		}
	}
}
