@import './variables';
@import './prefijos';

#menu {
	width: 100%;
//	height: 58px;
	opacity: 0;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(143,143,143,0.6);
	-moz-box-shadow: 0px 5px 10px -5px rgba(143,143,143,0.6);
	box-shadow: 0px 5px 10px -5px rgba(143,143,143,0.6);
	background: #fff;
	@include transition(background 0.6s,opacity 0.6s);
	z-index: 1000;
	> .contenedor {
		padding: 0;
		> .items {
			position: relative;
			text-align: right;
			width: 100%;
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
			&::-webkit-scrollbar {
				display: none;
			}
			a {
				display: inline-block;
				padding: 8px 12px;
				color: $color-dos-oscuro;
				text-transform: uppercase;
				font-size: 1em;
				//font-weight: 600;
				letter-spacing: 1px;
				text-align: center;
				&:hover,
				&:active {
					color: $color-uno;
					text-decoration: none;
				}
				&.activo {
					color: $color-uno;
					.ico {
						color: $color-uno;
					}
				}
			}
		}
	}
	&.sticky {
		position: fixed;
		top: 0;
		background: lighten($color-uno-claro, 10%);
		& + main {
			padding-top: 58px;
		}
		> .contenedor > .items a {
			&:hover,
			&:active {
				color: $color-dos-oscuro;
				.ico {
					color: $color-tres-claro;
				}
			}
			&.activo {
				color: $color-dos-oscuro;
				.ico {
					color: $color-tres-claro;
				}
			}
		}
	}
	&.visible {
		opacity: 1;
	}
}

@media (min-width: $screen-sm-min) {
	#menu {
		font-size: 1.1em;
//		height: 74px;
		overflow-x: auto;
		overflow-y: auto;
		&.sticky {
			& + main {
				padding-top: 74px;
			}
		}
	}
}
