@import '../imports/variables';
@import '../imports/prefijos';

.categorias-aside {
	.categorias {
		opacity: 0;
		@include transition(opacity 0.6s);
		&.visible {
			opacity: 1;
		}
	}
	.categoria {
		.enlace.fondo {
			display: block;
			padding: 1em;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@include transition(opacity 0.6s);
			.nombre {
				color: #fff;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	.categorias-aside .categoria .enlace.fondo {
		opacity: 0.8;
	}
}
