@import '../imports/variables';
@import '../imports/prefijos';
@import '../imports/animaciones';

#frmComentario {
	margin-bottom: 2em;
}
#frmRespuesta {
	margin-bottom: 2em;
}
#comentarios {
	.comentarios {
		.conversacion {
			position: relative;
			padding-bottom: 1em;
			border-bottom: 1px solid $color-gris-claro;
			margin-bottom: 1em;
			.comentario {
				position: relative;
				//margin-bottom: 0.6em;
				.imgComenta {
					position: absolute;
					width: 65px;
					//border: 1px solid $color-gris-claro;
					//border-radius: 50%;
					border-radius: $boton-radius;
					//@include sombra();
					background-color: $color-gris-clarisimo;
				}
				.autorFecha {
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: column;
					flex-direction: column;
					-webkit-justify-content: flex-end;
					justify-content: flex-end;
					width: 100%;
					height: 65px;
					padding-left: 85px;
					margin-bottom: 10px;
					.conteNumero {
						color: $color-gris;
						font-size: 0.9em;
					}
					.autor {
						margin: 0;
					}
					.fecha {
						//color: $color-gris;
					}
					.hora {
						color: $color-gris;
						font-size: 0.9em;
						vertical-align: text-top;;
					}
				}
				.texto {
					line-height: 1.6;
					margin-bottom: 0.6em;
				}
				.mostrarFormResp {
					
				}
			}
		}
	}
}
@media (min-width: $screen-xs-min) {
	#comentarios .comentarios .comentario {
		.texto,
		.conteNumero,
		.autor,
		.fecha,
		.hora {
			font-size: 15px;
		}
	}
}
@media (min-width: $screen-lg-min) {
	#comentarios .comentarios .comentario {
		.texto,
		.conteNumero,
		.autor,
		.fecha,
		.hora {
			font-size: 16px;
		}
	}
}

.cke_editor_textoComen,
.cke_editor_textoResp {
	padding: 0 !important;
	.cke_top {
		padding: 3px 3px 0 !important;
		background: $color-gris-clarisimo !important;
	}
	.cke_contents {
		border: none !important;
		border-top: 1px solid $color-gris-claro !important;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
	}
	.cke_bottom {
		display: none !important;
	}
}