@import '../imports/variables';
@import '../imports/prefijos';

.compartir {
	.apiCompartir,
	.redesSociales {
		a {
			display: inline-block;
			position: relative;
			width: 1.6em;
			height: 1.6em;
			font-size: 1.3em;
			color: #fff;
			background: $color-gris-claro;
			margin: 0 2px;
			border-radius: $boton-radius;
			&:hover, &:focus, &:active {
				background: $color-gris;
			}
			.ico {
				height: 1em;
				position: absolute;
				top: 42%;
				left: 50%;
				@include translate(-50%,-50%);
			}
			* {
				pointer-events: none;
			}
			&.apiCompartir {
				&:hover, &:focus, &:active {
					background: $color-uno-oscuro;
				}
			}
			&.facebook {
				&:hover, &:focus, &:active {
					background: #3b5998;
				}
			}
			&.twitter {
				&:hover, &:focus, &:active {
					background: #1da1f2;
				}
			}
			&.whatsapp {
				&:hover, &:focus, &:active {
					background: #25d366;
				}
			}
			&.pinterest {
				&:hover, &:focus, &:active {
					background: #bd081c;
				}
			}
			&.linkedin {
				&:hover, &:focus, &:active {
					background: #0077b5;
				}
			}
		}
	}
	.apiCompartir {
		a {
			font-size: 1.1em;
			width: auto;
			height: auto;
			padding: $boton-padding-top $boton-padding-right $boton-padding-bottom $boton-padding-left;
			.ico {
				position: relative;
				height: 1em;
				top: 0;
				left: 0;
				@include translate(0,0);
			}
		}
	}
}

.color > .compartir {
	a.apiCompartir {
		background: $color-uno;
		&:hover, &:focus, &:active {
			background: $color-uno-oscuro;
		}
	}
	a.facebook {
		background: #3b5998;
		&:hover, &:focus, &:active {
			background: darken(#3b5998, 15%);
		}
	}
	a.twitter {
		background: #1da1f2;
		&:hover, &:focus, &:active {
			background: darken(#1da1f2, 15%);
		}
	}
	a.whatsapp {
		background: #25d366;
		&:hover, &:focus, &:active {
			background: darken(#25d366, 15%);
		}
	}
	a.pinterest {
		background: #bd081c;
		&:hover, &:focus, &:active {
			background: darken(#bd081c, 15%);
		}
	}
	a.linkedin {
		background: #0077b5;
		&:hover, &:focus, &:active {
			background: darken(#0077b5, 15%);
		}
	}
}
