@import './imports/comun';
@import './imports/articulos-aside';
//@import './imports/compartir';

.section-main {
	.articulo {
		margin-bottom: $grid-gutter-width;
		.categorias {
			text-transform: uppercase;
			.categoria {
				display: inline-block;
				a {
					color: $color-gris;
				}
				+ .categoria {
					&:before {
						display: inline-block;
						padding: 0 10px;
						color: $color-gris;
						content: "\2022";	// unicode bullet
					}
				}
			}
		}
		.fechaAutor {
////
			.fa {
				padding: 0 6px;
				color: $color-gris;
				font-size: 0.4em;
				vertical-align: 0.5em;
			}
			.autor,
			.fecha {
				color: $color-gris;
			}
		}
		img {
			width: 100%;
			margin: 2em 0;
		}
		.cuerpo {
			padding-bottom: 2em;
		}
		.anterior,
		.siguiente {
			i {			// Ícono
				font-size: 2.2em;
			}
			span {
				vertical-align: 0.5em;
			}
		}
		.compartir {
			.apiCompartir,
			.redesSociales {
				text-align: right;
			}
		}
	}
	.comentarios {
		margin-bottom: 0;
	}
	.caja {
		padding: 1em;
	}
}

@media (min-width: $screen-sm-min) {
	.section-main {
		.caja {
			padding: 2em;
		}
	}
}

.aside-bot {
	.caja {
		height: 100%;
	}
}

/* Capas */
@media (min-width: $screen-md-min) {
	.row.todo {
		display: block;
		&:before,
		&:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		}
		.aside-top {
			float: right;
		}
		.section-main {
			float: left;
		}
		.aside-bot {
			float: right;
		}
	}
}

