@import './imports/comun';

.contenedor {
	max-width: 1400px;
}

section header {
	padding-bottom: $grid-gutter-width / 2;
	.caja {
		padding: 1em;
		height: 100%;
		h1 {
			margin: 0;
		}
	}
}

.grupo.buscador {
	top: 50%;
	@include translate(0,-50%);
}

.articulo {
	.caja {
		position: relative;
		padding: 0 0 0.8em;
		height: 100%;
		.titulo {
			margin: 0;
			padding: 0.6em 0.6em 0.2em;
		}
		.imagen {
			position: relative;
			display: block;
			width: 100%;
			padding-top: 56.25%;
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
			}
			.fechaAutor {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background: rgba($color-gris-oscuro, 0.5);
				color: #fff;
				padding: 0.6em;
				font-size: 0.9em;
			}
		}
		.entradilla {
			padding: 1em;
		}
		.ver-mas {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0.3em 1em;
			font-size: 2em;
		}
	}
}
